html {
    box-sizing: border-box;
}

body {
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 0 auto;
}


.header {
    font-family: "Fjalla One", sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    height: 160px;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.5rem;
    padding: 12px;
    color: #777;
    background: #fff;
}

.header h1 {
    font-size: 4rem;
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
    text-transform: uppercase;
    text-align: center;
}

.cat-title {
    grid-area: title;
    grid-column: 1 / -1;
    margin: auto;
}

.content {
    font-family: 'Quicksand', sans-serif;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choices {
    display: grid;
    grid-gap: 50px;
}


.category {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 0 15px;
    box-shadow: 20px 10px 0 rgba(0,0,0,0.5);
}

.category:hover {
    position: relative;
    left: 3px;
    cursor: pointer;
    user-select: none;
}

.display-box {
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 30px;
    width: 35%;
    height: 80%;
    background: #fff;
    display: grid;
    grid-template-areas: 
    'title exit'
    'text-area text-area'
    'btn btn';
    grid-gap: 20px;
    text-align: center;
    overflow: hidden;
    position: relative;
}


.text-area {
    grid-area: text-area;
    height: 100px;
    margin: 30px 50px 0px 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.generator {
    grid-area: btn;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    background: rgb(80, 80, 80);
    padding: 10px 15px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5%;
    align-self: center;
    margin: 30px;
    outline: none;
}

.exit {
    grid-area: 'exit';
    font-size: 1rem;
    color: #fff;
    background: rgb(220, 0, 0);
    border: 1px solid rgba(0,0,0, 0.1);
    width: 35px;
    padding: 7px;
    border-radius: 50%;
    align-self: center;
    margin: 25px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 5px;
}

img[src="tinderlogo.png"] {
    max-width: 175px;
    margin-bottom: 10px;
}

img[src="PML.png"] {
    max-width: 150px;
}

.generator:hover {
    background: rgb(120, 120, 120);
}

button:active {
    background: rgb(120, 120, 120);
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation-duration: 2s;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.3em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.3em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }