html {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: #333333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Fjalla One", sans-serif;
    margin: 0 auto;
}

.header {
    background: #fff;
    display: flex;
    justify-content: center;
    height: 200px;
}

.header h1 {
    font-size: 5rem;
    text-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
    text-transform: uppercase;
    text-align: center;
}

.content {
    font-family: 'Quicksand', sans-serif;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .footer {

} */

.category-shown {
    background: #fff;
    width: 20%;
    height: 100px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2rem;
}

.category {
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: 30px;
    width: 35%;
    height: 450px;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}


.text-area {
    height: 75%;
    margin: 30px 100px 30px 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.generator {
    font-size: 1.2rem;
    color: #fff;
    font-family: "Fjalla One", sans-serif;
    background: rgb(80, 80, 80);
    padding: 10px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5%;
    align-self: center;
    margin: 25px;
    outline: none;
}

.exit {
    font-size: 1rem;
    color: #fff;
    background: rgb(220, 0, 0);
    border: 1px solid rgba(0,0,0, 0.1);
    width: 35px;
    padding: 7px;
    border-radius: 50%;
    align-self: center;
    margin: 25px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 5px;
}

img[src="tinderlogo.png"] {
    max-width: 175px;
    margin-bottom: 10px;
}

.generator:hover {
    padding: 12px;
}

button:active {
    background: rgb(120, 120, 120);
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation-duration: 2s;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.3em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.3em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }